<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="w-full min-h-screen bg-[#202c39] flex justify-center md:items-center  items-starts"
    >
      <div class="bg-gray-300 rounded max-w-md w-full p-8 m-10">
        <h1 class="font-bold text-4xl text-center mb-6 text-gray-800">
          SignUp
        </h1>
        <% if (typeof error !== 'undefined' && error) { %>
        <p class="text-red-500 text-center mb-4"><%= error %></p>
        <% } %>
        <form class="space-y-4" action="/api/auth/signup" method="POST">
          <label for="name" class="block text-gray-700 font-medium">Name</label>
          <input
            type="text"
            name="name"
            placeholder="Name"
            required
            class="w-full mt-1 p-2 border rounded-lg focus:outline-none focus:ring-2"
          /><br />
          <label class="block text-gray-700 font-medium" for="email"
            >Email</label
          >
          <input
            type="email"
            name="email"
            placeholder="Email"
            required
            class="w-full mt-1 p-2 border rounded-lg focus:outline-none focus:ring-2"
          /><br />
          <label class="block text-gray-700 font-medium" for="password"
            >Password</label
          >
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
            class="w-full mt-1 p-2 border rounded-lg focus:outline-none focus:ring-2"
          /><br />
          <button
            class="w-full px-3 py-2 bg-blue-500 mt-1 rounded hover:bg-gray-700 hover:text-white"
            type="submit"
          >
            Signup
          </button>
        </form>
        <p class="mt-2 text-center font-lg">
          Already have an account?
          <a class="text-blue-500" href="/api/auth/login">Login</a>
        </p>
      </div>
    </div>
  </body>
</html>
